test-data/main/default/flows/TestUserDataSharingViolation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
  <apiVersion>60.0</apiVersion>
  <description>Test flow that violates user data sharing rules</description>
  <environments>Default</environments>
  <interviewLabel>Test User Data Sharing Violation {!$Flow.CurrentDateTime}</interviewLabel>
  <label>Test User Data Sharing Violation</label>
  <processMetadataValues>
    <name>BuilderType</name>
    <value>
      <stringValue>LightningFlowBuilder</stringValue>
    </value>
  </processMetadataValues>
  <processType>Flow</processType>
  <runInMode>SystemModeWithoutSharing</runInMode>
  <start>
    <locationX>50</locationX>
    <locationY>0</locationY>
    <connector>
      <targetReference>Get_Account_By_Email</targetReference>
    </connector>
  </start>
  <recordLookups>
    <name>Get_Account_By_Email</name>
    <label>Get Account By Email</label>
    <locationX>176</locationX>
    <locationY>0</locationY>
    <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
    <connector>
      <targetReference>End</targetReference>
    </connector>
    <filterLogic>and</filterLogic>
    <filters>
      <field>Email__c</field>
      <operator>EqualTo</operator>
      <value>
        <elementReference>email</elementReference>
      </value>
    </filters>
    <getFirstRecordOnly>true</getFirstRecordOnly>
    <object>Account</object>
    <storeOutputAutomatically>true</storeOutputAutomatically>
  </recordLookups>
  <variables>
    <name>email</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>true</isInput>
    <isOutput>false</isOutput>
  </variables>
</Flow>
